body {
  font-family: 'Arial', sans-serif;
  background-color: #ecf0f1;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}
.game_container{
  min-height: 60vh;
  border: 3px solid #000;
  border-radius: 10px;

}